.jumbotron img {
	width: 200px;
	border: 5px solid #ee153c;
}

.navbar-nav {
	background-color: light-blue;
}

.navbar-brand {
	font-family: Trebuchet MS;
}

.col-md-3 {
	font-family: Verdana;
	font-size: 11px;
}

.about {
	background-color: yellow;
}

.portfolio {
	background-color: pink;
}

.about hr {
	width: 65px;
	border: 3px solid #bccc14;
}

.portfolio hr {
	width: 100px;
	border: 3px solid #3abb41;
}

.row p {
        font-family: Monotype Corsiva;
        font-size: 16px;
}
